@page
@model solarsystem.Pages.Satellites.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Satellite</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Satellite.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Satellite.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Satellite.Planet)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Satellite.Planet.ID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Satellite.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Satellite.Description)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Satellite.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
